<h1 mat-dialog-title>Create reminder:</h1>
<div mat-dialog-content>
    <form [formGroup]="recordatorioForm" autocomplete="off" novalidate>
        <div class="row">
            <div class="col text-center">
                <mat-form-field class="ancho80">
                    <mat-label>Reminder title:</mat-label>
                    <input matInput formControlName="titulo" type="text" required maxlength="30">
                    <mat-error *ngIf="hasError('titulo', 'required')">This field is <strong>required</strong></mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <mat-form-field class="ancho80">
                    <mat-label>Place (city):</mat-label>
                    <mat-select formControlName="city" required>
                        <mat-option *ngFor="let ciudad of ciudades" [value]="ciudad.value" (onSelectionChange)="pasandoData(ciudad.viewValue)">{{ciudad.viewValue}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="hasError('city', 'required')">This field is <strong>required</strong></mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <mat-form-field class="ancho80">
                    <mat-label>Time:</mat-label>
                    <mat-select formControlName="hour" required>
                        <mat-option *ngFor="let hora of horarios" [value]="hora.value">{{hora.viewValue}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="hasError('hour', 'required')">This field is <strong>required</strong></mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col ancho80">
                <h5>Color:</h5>
                <color-github triangle="hide" (onChangeComplete)="handleChange($event)"></color-github>
            </div>
        </div>
    </form>
</div>
<div mat-dialog-actions align="center">
    <button mat-raised-button color="primary" [disabled]="!recordatorioForm.valid" (click)="aceptar()">CREATE</button>
    <button mat-raised-button class="btn-light" (click)="cancelar()">CANCEL</button>
</div>